.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  padding: 2rem;
}
.header h1 {
  font-size: var(--font-size-super);
  font-family: var(--font-raindrop);
  color: var(--color-neutral);
}
.header p {
  width: 50%;
  line-height: 2;
  font-weight: 200;
  color: var(--color-accent);
  font-family: var(--font-inter);
}
.header img {
  width: 100px;
  height: 100px;
}
.header a svg {
  margin-top: 2rem;
  width: 50px;
  height: 50px;
  color: var(--color-neutral);
}

.selector_section {
}
.selector_section h2 {
  color: var(--color-accent);
  font-family: var(--font-inter);
  font-weight: 200;
  margin-bottom: 2rem;
}
.selector_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.selector_button {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  text-decoration: none;
}
.selector_button p {
  font-family: var(--font-inter);
  font-weight: 200;
  color: var(--color-neutral);
}
.selector_button img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/* Cellphone */
@media (max-width: 500px) {
  /* Mobile Styles */
  /* Adjust styles as needed */
  .header {
    padding: 0;
  }
  .header p {
    width: 100%;
  }
}
