.header {
  width: 100%;
  min-height: 50svh;
  /* border: dashed 1px red; */
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 1.5rem;
  margin-block: 2rem;
}
.header p {
  font-size: 16px;
  font-weight: 100;
  color: var(--color-accent);
  animation: var(--slideup-text);
  animation-delay: 1.75s;
  opacity: 0;
  width: 80%;
}
.header .definition span {
  color: var(--color-tertiary);
}
.header .about {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 1rem;
}
.header .about img {
  width: 80px;
  height: 80px;
  animation: var(--slideup-text);
  animation-delay: 1.75s;
  opacity: 0;
}
.home_img {
  width: 100%;
  height: 100%;
}
.header .portfolio {
  width: 100%;
  /* border: dashed 1px red; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--color-accent);
  animation: var(--slideup-text);
  animation-delay: 2s;
  opacity: 0;
}
.header .about h2 {
  color: var(--color-accent);
  font-size: 18px;
}

.portfolio {
  margin-block: 5rem;
  display: grid;
}
.portfolio h2 {
  font-size: var(--font-size-super);
  font-family: var(--font-raindrop);
  color: var(--color-neutral);
}
.portfolio p {
  font-family: var(--font-inter);
  color: var(--color-accent);
  font-weight: 200;
  width: 50%;
  line-height: 2;
  margin-bottom: 2rem;
}

.portfolio_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.contact_section {
  min-height: 70svh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-block: 4rem;
}
.contact_section .reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.contact_section .reviews p {
  font-size: 14px;
  padding: 0.75rem;
  font-family: var(--font-inter);
  font-weight: 200;
  color: var(--color-accent);
}
.contact_section .reviews small {
  padding: 0.75rem;
  font-size: 12px;
  color: var(--color-tertiary);
}

.featured {
  display: grid;
  margin-block: 2rem;
  gap: 3rem;
}
.featured .description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.featured .description span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.featured .description span p {
  font-family: var(--font-inter);
  line-height: 1.5;
  color: var(--color-neutral);
}
.featured .description span .txt {
  color: var(--color-accent);
  font-weight: 200;
  padding: 1.5rem 0;
  font-size: 14px;
}
.featured .description h3 {
  font-size: 4rem;
  font-family: var(--font-raindrop);
  color: var(--black);
}
.featured .description h3 b {
  font-family: var(--font-raindrop);
  color: var(--color-neutral);
}
.featured img {
  width: 100%;
  object-fit: cover;
  height: 500px;
}

@media (min-width: 1200px) {
  /* Tablet Styles */
  /* Adjust styles as needed */
}

/* Tablet */
@media (max-width: 1000px) {
  /* Tablet Styles */
  /* Adjust styles as needed */
  .header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .header p {
    width: 100%;
  }

  .header .about {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 1rem;
    padding: 3rem 0;
  }

  .header .portfolio {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .portfolio_section {
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-top: 2rem;
  }

  .contact_section {
    grid-template-columns: 1fr;
  }
  .featured .description {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

/* Cellphone */
@media (max-width: 500px) {
  /* Mobile Styles */
  /* Adjust styles as needed */
  .portfolio h2 {
    font-size: var(--font-size-super);
    font-family: var(--font-raindrop);
    color: var(--black);
  }
  .portfolio p {
    font-family: var(--font-inter);
    color: var(--color-accent);
    font-weight: 200;
    width: 100%;
    line-height: 2;
    margin-bottom: 2rem;
  }

  .contact_section .reviews {
    grid-template-columns: 1fr;
  }
  .featured .description h3 {
    font-size: 3rem;
    color: var(--black);
  }
}
