/* CSS Root Variables Template */
:root {
  /* Shade Variables */
  --white: #f5f5f5;
  --black: #293041;
  --grey: #8f857a;

  /* Color Variables  */
  --color-main: #ffebcd;
  --color-secondary: #ffd699;
  --color-tertiary: rgb(194, 148, 108);
  --color-accent: #70675f;
  --color-neutral: rgb(163, 129, 106);

  /* Border Radii */
  --border-rad-large: 5px;
  --border-rad-medium: 15px;
  --border-rad-small: 25px;

  /* Padding */
  --padding-main: 4rem;
  --padding-navigation: 1rem 4rem;

  /* Button Padding */
  --button-padding: 0.75rem 1.5rem;

  /* Font Sizing */
  --font-size-heading: 5rem;
  --font-size-super: calc(var(--font-size-heading) * 0.88);
  --font-size-subtitle: calc(var(--font-size-heading) * 0.61);
  --font-size-subhead: calc(var(--font-size-heading) * 0.39);
  --font-size-text: calc(var(--font-size-heading) * 0.22);

  /* Transition and Effects */
  --transition-fast: 0.3s ease-in-out;
  --transition-normal: 1s ease-in-out;

  --box-shadow-light: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  --box-shadow-heavy: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);

  /* Animations */
  --slideup-page: slideup 1s ease-out forwards;
  --slideup-text: slideup 1s ease-out forwards;
  --text-fade-in: fadeIn 0.8s ease-in forwards;
}

/* Base Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

/* Component and Utility Styles */
.main {
  padding: var(--padding-main);
  background-color: var(--white);
  /* opacity: 0;
  animation: var(--slideup-page);
  animation-delay: 0.5s; */
}
.main_no_padding {
  background-color: var(--color-main);
  opacity: 0;
  animation: var(--slideup-page);
  animation-delay: 0.5s;
}

.button-simple {
  font-family: var(--font-inter);
  text-decoration: none;
  color: var(--color-neutral);
  cursor: pointer;
  font-size: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button-main {
  text-decoration: none;
  padding: var(--button-padding);
  background-color: var(--color-secondary);
  color: var(--color-accent);
  transition: var(--transition-normal);
  cursor: pointer;
}
.button-main:hover {
  background-color: var(--color-neutral);
  color: var(--white);
}

.button-secondary,
.button-tertiary,
.button-accent,
.button-neutral {
  padding: var(--button-padding);
  border-radius: var(--border-radius-medium);
  transition: var(--transition-normal);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem; /* adjust as needed */
}

.tag,
.tag-small {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  font-size: var(--font-size-text);
  border-radius: var(--border-radius-small);
  cursor: pointer;
}

.tag-small {
  padding: 0.1rem 0.5rem;
  font-size: calc(var(--font-size-text) * 0.8);
}

.inputbox {
  width: 100%;
  padding: 0.25rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: solid 0.5px var(--grey);
}
.inputbox input {
  background-color: transparent;
  color: var(--black);
  border: none;
  width: 100%;
  padding: 1rem 0;
  outline: none;
}
.inputbox textarea {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 0.5rem 0;
  outline: none;
}
.inputbox input::placeholder {
  color: var(--grey);
}
.inputbox textarea {
  resize: none;
  height: 100px;
  padding: 1rem 0;
}
.inputbox textarea::placeholder {
  color: var(--grey);
}

/* Loading Styles */
.loading {
}

/* Animations */
@keyframes slideup {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px); /* optional subtle lift */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media Queries for Responsive Adjustments */

/* Main */
@media (min-width: 1200px) {
  /* Tablet Styles */
  /* Adjust styles as needed */
}

/* Tablet */
@media (max-width: 1000px) {
  /* Tablet Styles */
  /* Adjust styles as needed */
  :root {
    --padding-main: 2rem;
    --padding-navigation: 1rem 2rem;
  }
}

/* Cellphone */
@media (max-width: 500px) {
  /* Mobile Styles */
  /* Adjust styles as needed */
}
