.footer {
  padding: var(--padding-navigation);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-neutral);
}
.footer small {
  color: var(--color-main);
}
.footer a {
  text-decoration: none;
  color: var(--color-main);
}

.navigation {
  background-color: var(--white);
  position: relative;
}

.mobile_menu_nav_open {
  position: fixed;
  width: 100%;
  height: 100svh;
  transition: var(--transition-normal);
  animation: var(--slideup-page);
  background-color: var(--color-main);
  backdrop-filter: blur(5px);
  top: 0;
  left: 0;
  z-index: 999;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding-top: 3rem;
}
.mobile_menu_nav_open button {
  border: none;
  background-color: transparent;
  color: var(--color-tertiary);
  font-family: var(--font-inter);
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}
.mobile_menu_nav_open ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 1rem;
}
.mobile_menu_nav_open ul li {
  margin-block: 1rem;
}
.mobile_menu_nav_open ul li a {
  text-decoration: none;
  color: var(--color-tertiary);
  letter-spacing: 1px;
  font-family: var(--font-inter);
  font-weight: 200;
  transition: var(--transition-normal);
}
.mobile_menu_nav_open ul li a:hover {
  color: var(--white);
  transition: var(--transition-normal);
}

.action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-navigation);
  background-color: var(--color-main);
}

/*social section */
.social_icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.social_icons a svg {
  color: var(--color-tertiary);
  width: 16px;
  height: 16px;
}

.route_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-navigation);
}
.logo img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.route_nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding: 1rem;
}
.route_nav ul li a {
  text-decoration: none;
  color: var(--color-accent);
  font-size: 12px;
  transition: var(--transition-normal);
  font-family: var(--font-inter);
  font-weight: 200;
}
.route_nav ul li a:hover {
  color: var(--color-secondary);
}
.route_nav button {
  display: none;
}

/* Media Queries for Responsive Adjustments */

/* Main */
@media (min-width: 1200px) {
  /* Tablet Styles */
  /* Adjust styles as needed */
}

/* Tablet */
@media (max-width: 1000px) {
  /* Tablet Styles */
  /* Adjust styles as needed */
  .route_nav {
    gap: 1.25rem;
    padding-bottom: 1.5rem;
  }
  .route_nav ul {
    display: none;
  }
  .route_nav h3 {
    font-size: 1.15rem;
  }
  .route_nav button {
    display: block;
  }
}

/* Cellphone */
@media (max-width: 500px) {
  /* Mobile Styles */
  /* Adjust styles as needed */
  .social_icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.75rem;
  }
  .social_icons a svg {
    color: var(--color-accent);
    width: 14px;
    height: 14px;
  }
}
