.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.contact img {
  width: 100%;
  object-fit: cover;
}

/* Main */
@media (min-width: 1200px) {
  /* Tablet Styles */
  /* Adjust styles as needed */
}

/* Tablet */
@media (max-width: 1000px) {
  /* Tablet Styles */
  /* Adjust styles as needed */
  .contact {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/* Cellphone */
@media (max-width: 500px) {
  /* Mobile Styles */
  /* Adjust styles as needed */
}
