.portfolio_selector {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
  position: relative;
}
.select {
  width: 100%;
  border: none;
  cursor: pointer;
  text-decoration: none;
  /* border: dashed 1px red; */
}
.select img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.select p {
  margin-top: 10px;
  color: var(--grey);
}
